.wrapper {
  width: 90%;
  margin: 2rem auto;
}

.overview-title {
  font-size: 2.5rem;
  font-weight: 500;
}

.title-summary {
  text-align: center;
}

.summary {
  width: 70%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;

  p {
    margin-bottom: 2rem;
  }
}

.customer-info {
  margin-top: 2rem;
}

.card {
  p {
    margin-top: 2rem;
  }
}
