.video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.pagination {
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 50% !important;
}

.navigation-prev {
  color: #fff;
}
