.wrapper {
  height: 100vh;
  width: 100vw;
  //   background-color: #222d32;
  background: url("https://wallpaperaccess.com/full/201088.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 50%;
  background-color: #1a2226d1;
  border-radius: 1rem;
  text-align: center;
  padding: 0 2rem;
}

.header {
  margin-bottom: 2rem;

  p {
    color: #fff;
    font-size: 2rem;
  }
}

.login-icon {
  height: 5rem;
  width: 5rem;
  margin: 3rem auto 1rem;
  border-radius: 50%;
  color: #fff;
  background-color: #db0fc7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail {
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}

.choose-file {
  cursor: pointer;

  input {
    display: none;
  }

  p {
    color: #fff;
  }
}

.text-field {
  input {
    font-size: 1.8rem;
    color: #fff;
    padding: 0.5rem 1rem;
  }

  label {
    font-size: 1.6rem;
  }
}

.login-btn {
  text-align: right;
  margin-top: 3rem;
}

.link {
  font-size: 1.4rem;
  color: rgb(37, 139, 190);
  text-decoration: underline;
  cursor: pointer;
  font-style: italic;
  margin: 2rem 0;
}
